.dividendInner {
  display: flex;
  column-gap: 100px;
  align-items: center;
  margin-top: 30px;
}

.infoList{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 30px;
}

.infoItem {
  width: 300px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #2c2c2c;
}
