.ratioslist {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 20px;
  justify-items: center;
  margin-top: 30px;
}

.ratiosItem {
  display: flex;
  width: 600px;
  border-bottom: 1px solid var(--main-color);
  font-weight: 500;
  font-size: 17px;
  justify-content: space-between;
}

.loadingBox {
  div {
    display: block;
    margin: 0 auto;
    margin-top: 70px;
  }
}