.title{
  font-size: 20px;
  font-weight: 500;
}

.text{
  word-wrap: break-word;
}

.bordered{
  padding-bottom: 5px;
  border-bottom: 3px solid var(--second-color);
}

.left{
  text-align: left;
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}